@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Tourney:wght@100;200;300;400;500;600;700&display=swap');

:root {

    /* FONTS */
    --primary: 'Bebas Neue',
        cursive;
    --secondary: 'Tourney',
        cursive;

    /* COLORS */
    --orange: hsl(19, 100%, 50%);
    --blue: hsl(204, 100%, 17%);
    --blue-x: hsl(194, 93%, 22%);
    --gray: hsl(50, 4%, 67%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--blue);
}

h1 {
    text-align: center;
    font: normal 400 2.5rem/3rem var(--secondary);
    color: var(--orange);
}

form {
    position: absolute;
    bottom: 1rem;
    width: 90vw;
    margin: 0 5vw;
    display: flex;
    align-items: center;
}

#input {
    width: 100%;
    font: normal 400 1rem/1rem sans-serif;
    padding: 1rem 0.5rem;
    position: relative;
    background: var(--blue-x);
    border: none;
    color: white;
}

#input:focus {
    outline: none;
    border: 0.08rem solid var(--orange);
}

form button {
    width: 3rem;
    padding: 0.2rem 0.5rem;
    font-size: 2rem;
    line-height: 2rem;
    color: var(--gray);
    background: var(--blue);
    border: none;
    cursor: pointer;
    transition: 150ms;

    position: absolute;
    right: 0.2rem;
}

form button:hover {
    background: var(--blue-x);
}

.human {
    background: var(--blue-x);
    padding: 0.5rem 1rem;

    display: flex;
    align-items: center;
    gap: 1rem;
}

.human p {
    font: normal 300 1.2rem/1.2rem var(--primary);
    color: var(--gray);
}